@font-face {
    font-family: MontserratBold;
    src: url("font/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: MontserratRegular;
    src: url("font/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: MontserratMedium;
    src: url("font/Montserrat/static/Montserrat-Medium.ttf");
}

@font-face {
    font-family: MontserratSemiBold;
    src: url("font/Montserrat/static/Montserrat-SemiBold.ttf");
}

/* mobile untuk index.html thok */
@media screen and (max-width:600px) { 
.mobile{
    display: block;
}

*{
    margin: 0px;
    padding: 0px;
}


#bottom-container{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:fit-content;
    margin-bottom: 100px;
}


#midcontainer{
    height: fit-content;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 1px 0px #001B2E;
    flex-direction: row;
    align-items: start;
    background-color: white;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 80vw;
}

#submidcontainer{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}




a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #e39519;
}

h1{
    font-size: 2em;
}

p{
    font-size: 20px;
    font-family: "MontserratRegular";
    margin: 0px;
    padding: 0px;
}

h2{
    font-size: 1.75em;
    font-family: "MontserratBold";
}

h3{
    font-size: 1.25em;
}

h4{
    margin: 0px;
}

img:hover{
    opacity: 0,5;
}

img{
    border-radius: 10px;
}

.container-content:hover{
    opacity: 0.5;
}

button{
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #001B2E;
    border: 0px solid #001B2E;    
    background-color: #e39519;
    font-family: "MontserratSemiBold";
    width: 100%; 
    height: 8vh;
    font-size: 3vw;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{

    font-family: "MontserratBold";
    color: #001B2E;
    margin: 0px;
    background-color: whitesmoke;
}


#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    position: sticky;
    background-color: whitesmoke;
    top: 0px;
    padding-top: 10px;
    padding-left: 20px;
    height: 50px;
    margin-right: 0px;
}

#page-logo{
    width: 30vw;
    max-width: 150px;
    height: auto;
}

#main-content
{   
    padding-left: 20px;
    padding-right: 20px;
}

.slides{
    height: fit-content;
}

#firstpage-home{
    gap: 5vw;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#wujudkan-rumah{
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "MontserratBold";
}

#firstpage-home p{
    margin-top: 10px;
    color: green;
}
#btn-row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 150px;
    width: 100%     ;
}


#firstpage-home img{
    width: 45vw;
    height: auto;
    max-width: 300px;
}

#projek-berlangsung{
    margin-left: 50px;
}

button:hover{
    background-color: #001B2E;
    color: #e39519;
    cursor: pointer;
}

#btn-portofolio:hover{
    background-color: #001B2E;
    color: #e39519;   
}

#bicarakan-dengan-kami:hover{
    background-color: #001B2E;
    color: #e39519;
}

#secondpage-home{
    margin-top: 100px;
    display: flex;
    align-items: start;
    justify-content: center;
}
.container{
    color: #001B2E;
    min-width: 10em;
    max-width: 100%;
    height: fit-content;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding-left: 1.25em;
    padding-right: 1.25em;

    padding-bottom: 10px;
    box-shadow: 0px 0px 3px 0px #001B2E;
}

.container h2{
    margin-top: 0.5em;
    margin-bottom: 1rem;
    font-size: 1.5em;
}


#tentang-kami-visi{
    margin-top: 0px;
    text-align: justify;
    font-size: 0.75em;
}

#vertical {
    border-left: 2px solid #001B2E;
    height: 22em;
    max-height: 400px;
    margin-left: 5rem;
    margin-right: 5rem;
}

#horizontal {
    border: 1px solid #001B2E;
    margin-top: 20px;
}

#thirdpage-home{
    margin-top: 100px;   
    display: flex;
    flex-direction: column;
    align-items:center;
}

#thirdpage-row{ 
    margin-top: 50px;
    padding-bottom: 15px;
    width: 100%;
    /* width: 90vw;
    max-width: fit-content; */
    display: flex;
    flex-direction: column;
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #001B2E;
}

.section{
    padding-left: 25px;   
    padding-top: 15px;
    padding-right: 25px;
    width: fit-content;
}

.section h4{
    margin-top: 10px;
    font-size: 18px;
}

.section p{
    margin-top: 10px;
    font-size: 14px;
    text-align: justify;

}

.section img{
    height: 100px;
    width: auto;
}

#fourthpage-home{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

#portofolio{
    box-sizing: border-box;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 0px #001B2E;
    width: fit-content;
}

#port-row-1{
    margin-bottom: 20px;
}

.portofolio-row{
    display: block;
    text-align: center;
    max-width: 250px;
    padding: 5px;
}

.img-portofolio{
    max-width: 100px;
    width: 100px;
    height: 100px;
    max-height: 100px;
    padding: 8px;
}

#btn-portofolio{
    margin-top: 50px;
    width: 60vw;
    height: 12vw;
    max-width: 250px;
    max-height: 150px;
    font-size:3.75vw;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

#fifthpage-home{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#fifthpage-home h2{
    font-size: 10vw;
}
#bicarakan-dengan-kami{
    margin-top: 50px;
    width: 60vw;
    height: 12vw;
    max-width: 250px;
    max-height: 150px;
    font-size:3.75vw;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-bottom: 100px;
}

footer{
    background-color: #001B2E;
    padding-top: 50px;
    padding-bottom: 50px; 
    height: fit-content;
    width: 100%;
    color: white;
}

#logo-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    justify-content: start;
    align-items: center;
}

#logo-content{
    display: flex;
    flex-direction: column;
}
#logo-container img{
    background-color: white;
    padding: 5px;
}

#about-us h3{
    margin: 0px;
    margin-top: 30px;
    font-size: 5vw;
}

footer p{
    font-size:3.5vw;
}

#footer-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-us{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.pc{
    display: none;
}

}

/* pc  untuk index.html thok (dan ada navbar untuk pc tapi kan udah ada di file yg lain)*/
@media screen and (min-width : 600px) {
    
    
    .pc{
        display: block;
    }

    *{
        margin: 0px;
        padding: 0px;
    }

    a{
        box-sizing: border-box;
        text-decoration: none;
    }
    /* Menghapus bullet pada list */
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /* Styling untuk menu utama */
    ul li {
        display: inline-block;
        position: relative;
    }

    ul li a {
        display: block;
        text-decoration: none;
        text-align: center;
        padding: 15px;
        color: #001B2E;
        background-color: transparent;
        transition: 0.3s;
    }

    ul li a:hover {
        color: #e39519; /* Warna teks saat hover */
    }

    /* Styling untuk dropdown */
    ul li ul.dropdown {
        list-style: none;
        position: absolute;
        top: 100%; /* Posisi dropdown tepat di bawah menu utama */
        left: 0;
        display: none; /* Default dropdown tersembunyi */
        padding: 0;
        margin: 0;
        background-color: #e39519; /* Warna latar dropdown */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Memberikan efek bayangan */
        border-radius: 10px;
    }

    ul li ul.dropdown li {
        display: block; /* Dropdown berbentuk vertikal */
        margin: 0;
    }

    ul li ul.dropdown li a {
        border-radius: 10px;
        transition: 0.3s;
    }

    ul li ul.dropdown li a:hover {
        background-color: #001B2E; /* Warna latar saat hover pada item dropdown */
        color: #e39519;
    }

    /* Tampilkan dropdown saat menu utama di-hover */
    ul li:hover ul.dropdown {
        display: block;
        z-index: 999; /* Menjaga dropdown tetap di atas elemen lain */
    }


    a:hover{
        color: #e39519;
    }

    h1{
        font-size: 90px;
    }

    p{
        font-size: 20px;
        font-family: "MontserratRegular";
        margin: 0px;
        padding: 0px;
    }

    h2{
        font-size: 30px;
        font-family: "MontserratBold";
    }

    h3{
        font-size: 30px;
    }

    h4{
        margin: 0px;
    }

    img:hover{
        opacity: 0,5;
    }

    img{
        border-radius: 10px;
    }

    .container-content:hover{
        opacity: 0.5;
    }

    button{
        border-radius: 10px;
        box-shadow: 0px 0px 2px 0px #001B2E;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body{
        font-family: "MontserratBold";
        color: #001B2E;
        margin: 0px;
        background-color: whitesmoke;
    }


    #navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        position: fixed;
        background-color: whitesmoke;
        top: 0px;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 2vw;
        border-bottom: none;
    }

    #page-logo{
        max-width: 150px
    }

    nav{
        width: fit-content;
        margin-right: 8vw;
    }

    li{
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        display: inline;
    }


    #main-content{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .slides{
        height: fit-content;
    }


    #firstpage-home{
        margin-top: 12vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 1vw;
    }

    #firstpage-home p{
        margin-top: 10px;
        font-size: 20px;
        color: green;
    }
    
    #wujudkan-rumah{
        font-size: 70px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "MontserratBold";
    }

    #btn-row{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin-right: 150px;
    }

    .btn-home{
        width: 200px;
        height: 60px;
        border: 0px solid #001B2E;
        background-color: #e39519;
        font-family: "MontserratSemiBold";
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #text-desc{
        width: 65vw;
    }
    
    #firstpage-home img{
        width: 30vw;
        min-width: 350px;
        max-width: 500px;
        height: auto;
        /* height: auto;
        max-width: 400px;
        min-width: 25vw; */
    }

    #projek-berlangsung{
        margin-left: 50px;
    }

    button:hover{
        background-color: #001B2E;
        color: #e39519;
        cursor: pointer;
    }

    #btn-portofolio:hover{
        background-color: #001B2E;
        color: #e39519;   
    }

    #bicarakan-dengan-kami:hover{
        background-color: #001B2E;
        color: #e39519;
    }

    #secondpage-home{
        margin-top: 220px;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .container{
        color: #001B2E;
        width: 30em;
        min-width: 10em;
        max-width: 400px;
        height: 20em;
        background-color: white;
        text-align: center;
        border-radius: 15px;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0px 0px 3px 0px #001B2E;
    }

    .container h2{
        margin-bottom: 1rem;
    }


    #tentang-kami-visi{
        margin-top: 0px;
        text-align: justify;
        font-size: min(1.5vw, 19px)

    }

    #vertical {
        border-left: 2px solid #001B2E;
        height: 22em;
        max-height: 400px;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    #thirdpage-home{
        margin-top: 100px;   
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    #thirdpage-home h2{
        font-size: 40px;
    }

    #thirdpage-row{ 
        margin-top: 50px;
        width: fit-content;
        /* width: 90vw;
        max-width: fit-content; */
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 2px 0px #001B2E;
    }

    .section{
        padding: 25px;
        width: 200px;
    }

    .section h4{
        margin-top: 10px;
        font-size: 18px;
    }

    .section p{
        margin-top: 10px;
        font-size: 13px;
        text-align: justify;
    }

    .section img{
        height: 100px;
        width: auto;
    }

    #fourthpage-home{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    #fourthpage-home h2{
        font-size: 50px;
    }


    #portofolio{
        margin-top: 20px;
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 0px 3px 0px #001B2E;
    }

    .portofolio-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:fit-content;
        gap: 10px;
    }

    #port-row-1{
        margin-bottom: 20px;
    }

    .img-portofolio{
        max-width: 200px;
        width: 10vw;
        height: 10vw;
        max-height: 200px;
    }

    .img-portofolio{
        padding-left: 5px;
        padding-right: 5px;
    }

    #btn-portofolio{
        margin-top: 50px;
        width: 200px;
        height: 50px;
        border: 0px solid #001B2E;
        background-color: #e39519;
        color: #001B2E;
        font-family: "MontserratSemiBold";
        font-size: 15px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
    }

    #fifthpage-home{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    #fifthpage-home h2{
        font-size: 50px;
    }
    #bicarakan-dengan-kami{
        width: 200px;
        height: 60px;
        border: 0px solid #001B2E;
        background-color: #e39519;
        font-family: "MontserratSemiBold";
        font-size: 18px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
    }

    
#bottom-container{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
}


#midcontainer{
    height: fit-content;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 1px 0px #001B2E;
    flex-direction: row;
    align-items: start;
    background-color: white;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

#submidcontainer{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}



#divider{
    position: absolute;
    border: 1px solid #001B2E;
    height: 150px;
}

    footer{
        margin-top: 100px;
        background-color: #001B2E;
        padding-top: 50px;
        padding-bottom: 50px; 
        height: fit-content;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
    }

    footer p{
        font-size: 15px;
    }
    #footer-row{
        display: flex;
        flex-direction: row;
    }

    #logo-container{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 50%;
        justify-content: start;
        align-items: center;
    }

    #logo-content{
        display: flex;
        flex-direction: column;
    }
    #logo-container img{
        background-color: white;
        padding: 5px;
    }
    #about-us{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

    }
    #logo-content img{
        width: 20vw;
        max-width: 200px;
    }

    #about-us h3{
        margin: 0px;
        font-size: 2vw;
    }
    #about-us p{
        font-size: 1.15vw;
        text-align: center;
        margin-top: 10px;
    }

    .mobile{
        display: none;
    }
}

/* untuk semua navbar <768 px  */
@media screen and (max-width:768px)  {
a{
    text-decoration: none;
    color: white;
}
    
#menu-mobile{
    display: block;
}


#menu-pc{
    display: none;
}

.menu-logo{
    width: 7vw;
    height: auto;
    max-width: 50px;
    margin-right: 7vw;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Styling untuk menu utama */
ul li {
    display: block; /* Pastikan menu utama menggunakan block */
    position: relative; /* Agar dropdown muncul relatif terhadap elemen ini */
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: transparent;
    padding: 10px 15px;
    transition: 0.3s;
}

ul li a:hover {
    color: #e39519; /* Warna teks saat hover */
}

/* Styling untuk dropdown */
ul li ul.dropdown {
    list-style: none;
    position: relative; /* Ubah menjadi relative agar tidak menutupi elemen di bawahnya */
    width: 100%; /* Lebar dropdown */
    display: none; /* Default dropdown tersembunyi */
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    z-index: 1;
}

ul li ul.dropdown li a {
    padding: 10px 15px; 
    color: black;
    background-color: #e39519;
    transition: 0.3s;
}

.dropdown.active {
    display: block;
}


.nav-menu {
    display: none; /* Sembunyikan dropdown secara default */
    position: fixed; /* Ubah posisi menjadi fixed */
    top: 50px; /* Atur posisi dropdown, misalnya 50px dari atas */
    left: 50%; /* Posisikan dropdown di tengah layar */
    transform: translateX(-50%); /* Pastikan dropdown benar-benar terpusat */
    z-index: 10; /* Berada di atas elemen lainnya */
    background-color: #001B2E; /* Background warna dropdown */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Dropdown dalam keadaan aktif */
.nav-menu-open {
    display: block;
    gap: 0px;
    align-items: center;
    background-color: #001B2E;
    opacity: 90%;
    height: fit-content;
    width: 100%;
    margin-top: 0; /* Hilangkan margin top agar dropdown tidak tergeser */
}

/* Styling untuk menu */
.nav-menu li {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 5px;
    border-radius: 0.5em;
}

/* Parent container */
.menu-container {
    position: relative;
    margin-top: 10px;
    box-sizing: border-box;
}

}

/* untuk agar menu containernya turun di width x<600px */
@media screen and (max-width:600px){
.nav-menu-open{
    margin-top: 0px;
}   

#thirdpage-row p{
    font-size: 3vw;
}

}

/* khusus firstpage di index.html */
@media screen and (min-width : 600px) and (max-width : 1100px) {
    
#mainlogo-mobile{
    display: block;
}
#mainlogo-pc{
    display: none;
}
#firstpage-home{
    text-align: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}

#wujudkan-rumah{
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "MontserratBold";
}

#firstpage-home p{
    margin-top: 10px;
    color: green;
}
#btn-row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    width: 100%     ;
}


#firstpage-home img{
    width:80vw;
    height: auto;
    max-width: 300px;
}


}

@media screen and (min-width:1100px) and (max-width : 1481px){
    #wujudkan-rumah{
        font-size: 70px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: "MontserratBold";
    }
}


